@model List<Book>
@{
    ViewBag.Title = "Index";
}
<h2 class="text-primary">Books</h2>
<hr />

<a asp-action="Add" asp-controller="Books" class="btn btn-primary mb-3">
    <i class="bi bi-plus-lg"></i>
    Add New
</a>


@if (!Model.Any())
{
    <div class="alert alert-warning">
        No books added yet!
    </div>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Book Title</td>
                <td>Author Name</td>
                <td>Category</td>
                <td>Added On</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Book book in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Books" asp-route-id="@book.Id">
                            <i class="bi bi-box-arrow-up-right"></i>
                            @book.Name
                        </a>
                    </td>
                    <td>@book.Author</td>
                    <td>@book.Category.Name</td>
                    <td>@book.AddedOn</td>
                    <td>
                        <a asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-success">
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>
                        <a asp-controller="Books" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">
                            <i class="bi bi-x-lg"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}